*.fls
*-cache.yaml
probability_dna.blg

probability_dna.aux

probability_dna.log

probability_dna.synctex.gz

probability_dna.out

probability_dna.run.xml


probability_dna.bcf

probability_dna.bbl

solution_file.tex

.DS_Store
probability_dna.xdv
*.tdo
